.ui-pnotify {
  top: 64px;
  right: 5px;
}

.ui-pnotify.common .alert {
  /*background-color: #ddd;*/
  padding: 10px;
}

.ui-pnotify .alert {
  margin: 2px;
  border-radius: 4px;
}

.ui-pnotify-title {
  margin-bottom: 0;
}
